@import "_biodata.scss";
@import "_project.scss";

body {
  margin: 0;
  padding: 0;
  background-color: #05172e;
  color: white;
}

a, a:visited {
  text-decoration: none;
}

#container {
  max-width: 900px;
  margin: auto;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

