#project {
  padding: 10px;
}

#project-title {
  font-size: 1.5rem;
  font-family: "Lato";
  color: var(--lighter-text-color);
  border-bottom: 1px solid var(--darker-color);
  padding: 10px 0;
}

.project-item {
  display: flex;
  align-items: flex-start;
  padding: 20px 0;
  &:nth-child(even) {
    flex-direction: row-reverse;
    .project-info {
      direction: rtl;
      .made-with,
      .project-link a {
        margin-right: 0px !important;
        margin-left: 10px;
      }
    }
  }
}

.project-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  .project-name {
    font-family: "Nunito Sans";
    font-size: 1.2rem;
    font-weight: 700;
    margin: 10px 0;
    color: var(--accent);
  }
  .project-description {
    background-color: var(--darker-color);
    border-radius: 5px;
    box-shadow: 2px 4px 4px var(--shadow);
    padding: 20px;
    margin: 10px 0;
    width: 110%;
    z-index: 1;
    font-size: 0.9rem;
    font-family: "Lato";
    color: var(--lighter-text-color);
    line-height: 1.2rem;
  }
  .project-made-with {
    font-family: "Lato";
    margin: 10px 0;
    color: var(--darker-text-color);
    font-size: 0.9rem;
    line-height: 1.5rem;
    .made-with {
      margin-right: 10px;
    }
  }
  .project-link {
    display: flex;
    margin: 10px 0;
    a {
      display: flex;
      padding: 10px;
      background-color: var(--darker-color);
      border-radius: 50%;
      color: #a8bbce;
      margin-right: 10px;
      transition: all 200ms ease;
      &:hover {
        background-color: var(--lighter-color);
      }
    }
  }
}

.project-image {
  flex: 3;
  display: flex;
  position: relative;
  &:hover {
    .image-filter {
      opacity: 0;
    }
  }
  img {
    border-radius: 5px;
    box-shadow: 2px 4px 4px var(--shadow);
    width: 100%;
  }
  .image-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    opacity: 0.5;
    transition: all 300ms ease;
  }
}

@media screen and (max-width: 700px) {
  #project {
    padding: 20px;
  }
  .project-item, .project-item:nth-child(even) {
    all: unset;
    margin: 40px 0;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--darker-color);
    border-radius: 5px;
    box-shadow: 2px 4px 4px var(--shadow);
    .project-info {
      padding: 10px;
      direction: ltr;
      z-index: 1;
      .made-with,
      .project-link a {
        margin: 0 10px 0 0 !important;
      }
    }
    .project-description {
      box-sizing: border-box;
      box-shadow: unset;
      padding: 0px;
      width: unset;
    }
    
  }
}
